:root {
	--element-color: #00000066;
	--text-w-color: #ffffff;
	--text-b-color: #000000;
	--text-g-color: #858585;
	--fade1-w-color: rgba(255, 255, 255, 0.1);
	--fade2-w-color: rgba(255, 255, 255, 0.2);
	--fade3-w-color: rgba(255, 255, 255, 0.3);
	--fade4-w-color: rgba(255, 255, 255, 0.4);
	--fade5-w-color: rgba(255, 255, 255, 0.5);
	--fade6-w-color: rgba(255, 255, 255, 0.6);
	--fade7-w-color: rgba(255, 255, 255, 0.7);
	--fade8-w-color: rgba(255, 255, 255, 0.8);
	--fade9-w-color: rgba(255, 255, 255, 0.9);
	--fade1-b-color: rgba(0, 0, 0, 0.1);
	--fade2-b-color: rgba(0, 0, 0, 0.2);
	--fade3-b-color: rgba(0, 0, 0, 0.3);
	--fade4-b-color: rgba(0, 0, 0, 0.4);
	--fade5-b-color: rgba(0, 0, 0, 0.5);
	--fade6-b-color: rgba(0, 0, 0, 0.6);
	--fade7-b-color: rgba(0, 0, 0, 0.7);
	--fade8-b-color: rgba(0, 0, 0, 0.8);
	--fade9-b-color: rgba(0, 0, 0, 0.9);
	--blur: 8px;
	--border-width: 3px;
	--border-radius: 10em;
	--border-radius2: 0.5em;
	--border-radius4: 1em;
	--shadow: rgba(0, 0, 0, 0.5);
	--shadow-title: rgba(0, 0, 0, 0.75);
	--shadow-title2: rgba(0, 0, 0, 0.95);
	--text-shadow: rgba(0, 0, 0, 0.9);
	--search-bg-color: var(--fade2-b-color);
}
h1 {
	font-size: 3em;
	color: white;
}
h2 {
	font-size: 3em;
	color: white;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1em;
}
p {
	font-size: 1.7em;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: " Roboto ", sans-serif;
}
body {
	min-width: 750px;
	color: white;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.clickable {
    cursor: pointer;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../images/bg.avif");
	background-size: cover;
	background-position: center;
	z-index: -1;
}

/* Navigation */
header {
	position: fixed;
	top: 0;
	z-index: 1;
	background-color: var(--fade1-w-color);
	backdrop-filter: blur(var(--blur));
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2em;
	min-height: 8em;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.logo {
	font-size: 4em;
	text-shadow: 2px 2px 8px var(--shadow-title);
}
.title {
	font-size: 3em;
	font-weight: bold;
	text-shadow: 2px 2px 8px var(--shadow-title2);
}

.site-management {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: auto; /* Remove the fit-content width */
	height: 3em;
	margin-left: auto; /* Align to the right */
}

.user-entrance {
	background-color: var(--fade8-w-color);
	border: none;
	color: var(--text-b-color);
	border-radius: var(--border-radius);
	font-size: 1.5em;
	font-weight: bold;
	padding: 0.5em 1em;
	width: fit-content;
	margin-left: 1em;
	box-shadow: 2px 2px 8px var(--shadow);
	cursor: pointer;
}

/* Footer */
footer {
	background-color: var(--fade1-w-color);
	backdrop-filter: blur(var(--blur));
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1em;
	text-align: center;
	min-height: 4em;
}

/* Center the content inside the footer */
footer h4 {
	color: var(--text-w-color); /* Set the text color */
	margin-bottom: 0.5em; /* Adjust the spacing */
}

/* Adjusted the text color for better visibility */
footer h4:last-child {
	color: var(--text-w-color);
}

/* BODY */
.content {
	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	height: 100vh; /* Full viewport height */
}

.search-bar {
	display: flex;
	align-items: center;
	height: 4em;
	width: 50%;
	background-color: var(--fade8-w-color);
	color: var(--text-b-color);
	border: none;
	border-radius: var(--border-radius);
	box-shadow: 0px 0px 10px black;
	margin: 0 auto; 
}

.search-bar2{
    display: flex;
    align-items: center;
    height:3em;
    width: 90%;
    background-color: var(--fade8-w-color);
    color: var(--text-b-color);
    font-size: 10px ; 
    border: 1px solid black;
    border-radius: 0;
    padding-left: 1em; 
    justify-content: flex-start; 
	margin-bottom: 15px;
	margin-top: 15px;
}

.search-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 2em;
	padding-left: 0.5em;
}
.search-icon img {
	height: 2em;
	padding-left: 1em;
}

input {
	padding-left: 0.5em;
	font-size: 2em;
	background-color: transparent;
	border: none;
	height: 4em;
	width: 100%;
	outline: none;
}

.selector {
	margin-top: 0.7em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 50%;
	padding-left: 1em;
	padding-right: 1em;
}
.selector-opt {
	margin-left: 1em;
	margin-right: 1em;
	background-color: transparent;
	border: none;
	font-size: 1.6em;
	font-weight: bold;
	color: var(--text-w-color);
	text-shadow: 2px 2px 10px var(--text-shadow);
	transition: color 0.3s ease;
}
.selector-opt:hover {
	cursor: pointer;
}

.content-search {
	flex: 1;
	top: 8em;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 8em;
	margin-bottom: 4em;
}
.sign-up {
	flex: 1;
	top: 8em;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 8em;
	width: 50%;
	margin: 0 auto 4em auto;
}
.content {
	flex: 1;
	top: 8em;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 12em;
	margin-bottom: 6em;
}

.container {
	background-color: var(--fade8-w-color);
	color: var(--text-b-color);
	width: 80%;
	padding: 2em 3em;
	border-radius: var(--border-radius2);
	margin-top: 5vw;
	margin-bottom: 1vw;
}

.container h2 {
	margin-top: -1.2em;
	margin-bottom: 0.2em;
}

.container h3 {
	margin-bottom: 0.4em;
}
.container h4 {
	margin-bottom: 0.3em;
}
.container p {
	margin-bottom: 0.2em;
}
.space {
	height: 0.5em;
}

.info {
	background-color: var(--fade5-w-color);
	color: var(--text-b-color);
	width: 50%;
	padding: 1em 1.5em;
	border-radius: var(--border-radius2);
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.info h3 {
	font-size: 1em;
}
.rounded-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid #ffffff00;
	border-radius: 10px;
}
.rounded-table th,
.rounded-table td {
	padding: 10px;
	border: 1px solid #ffffff7b;
	border-radius: 10px;
	text-align: left;
	color:black;
}
.rounded-table th {
	background-color: #424d5a;
	font-weight: bold;
	color:white;
	text-align: center;
}
.rounded-table tr.row {
	background-color: #a5a5a5a5;
  }

.custom-search-button {
    font-size: 20px; 
    padding: 10px 20px; 
    background-color: #2d507a; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
	height: 100%;
	border-radius: 0 var(--border-radius) var(--border-radius) 0; 
}

.show-password-button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #2d507a;
    text-align: center;
	vertical-align: auto;
    color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
    height: 100%;
    line-height: 60%;
}

.submit-button {
    font-size: 18px; 
    padding: 10px 20px; 
    background-color: #2d507a; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
	height: 100%;
	border-radius: var(--border-radius); 
}

.search-dropdown {
    height: 100%; 
    font-size: 20px; 
    text-align: center; 
    line-height: 4em; 
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

/* Modal styles */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: rgba(209,211,213,255);
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
}

.close {
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* Apply custom styles to labels */
.modal-content label {
	color: black; 
	margin-left: 30px;
	font-size: 20px;
	font-weight: bold; 
	display:block;
}

.modal-content input{
	display: inline-block;
    align-items: center;
    height:2.5em;
    width: 90%;
    background-color: var(--fade8-w-color);
    color: var(--text-b-color);
    font-size: 16px ; 
    border: 1px solid black;
    border-radius: 0;
    padding-left: 1em; 
    justify-content: flex-start; 
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left :30px;
	margin-right:50px;
}

.modal-content h2{
	font-size: 3em;
	font-weight: bold;
	color:white;
	margin-left: 30px;
	text-shadow: 2px 2px 8px var(--shadow-title2);
	margin-bottom:20px;
}

/* Additional style for password container */
.password-container {
	position: relative;
	display: flex; 
}


.password-container input[type="password"] {
	flex: 1; /* Adjust padding to accommodate the button */
	width: 50%;
	margin-right:60px;
}

.password-container .show-password-button {
	position: absolute;
	top: 50%;
	height:55%;
	right:0;
	transform: translateY(-50%);
	padding: 5px 10px;
	background-color: #2d507a;
	color: white;
	border: none;
	border-radius: 0;
	cursor: pointer;
	margin-right:60px;
}

/* START: search.php */
.content-search_searchresults {
	flex: 1;
	top: 8em;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 1em;
	margin-bottom: 1em;
}

.container_searchresults {
	background-color: var(--fade8-w-color);
	color: var(--text-b-color);
	width: 80%;
	padding: 2em 3em;
	border-radius: var(--border-radius2);
	margin-top: 1em;
	margin-bottom: 1em;
}
.container_end_searchresults {
	margin-bottom: 5em;
}

.title_searchresults {
	font-size: 3em;
	font-weight: bold;
	text-shadow: 2px 2px 8px var(--shadow-title2);
	margin-top: -60px;
}

.search-title {
	font-size: 3em;
	font-weight: bold;
	text-shadow: 2px 2px 8px var(--shadow-title2);
}

.content-search_searchtitle {
	flex: 1;
	top: 8em;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 0.5em;
	margin-bottom: 0.5em;
}

.container_searchtitle {
	background-color: var(--fade8-w-color);
	color: var(--text-b-color);
	width: 80%;
	padding: 2em 3em;
	border-radius: var(--border-radius2);
	margin-top: 8vw;
	margin-bottom: 1vw;
}

.hits {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 1vw;
	margin-bottom: 0.5vw;
}
/* END: search.php */

/* START: Results */
.content-results {
	flex: 1;
	top: 8em;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 1em;
	margin-bottom: 1em;
}

.container_results {
	background-color: var(--fade8-w-color);
	color: var(--text-b-color);
	width: 80%;
	padding: 2em 3em;
	border-radius: var(--border-radius2);
	margin-top: 1em;
	margin-bottom: 1em;
}
.container_end_results {
	margin-bottom: 5em;
}

.title_results {
	font-size: 3em;
	font-weight: bold;
	text-shadow: 2px 2px 8px var(--shadow-title2);
	margin-top: -60px;
}

.results-title {
	font-size: 3em;
	font-weight: bold;
	text-shadow: 2px 2px 8px var(--shadow-title2);
}

.content-resultstitle {
	flex: 1;
	top: 8em;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}

.container_resultstitle {
	background-color: var(--fade5-w-color);
	color: var(--text-b-color);
	width: 80%;
	padding: 2em 3em;
	border-radius: var(--border-radius2);
	margin-top: 8vw;
	margin-bottom: 1vw;
}

.result_item {

}
/* END: Results */

/* START: Tables */
.rounded-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	border: 0px solid var(--fade8-w-color);
	border-radius: 5px;
}
.rounded-table th,
.rounded-table td {
	padding: 10px;
	border: 3px solid rgba(165, 165, 165, 0.5);
	border-radius: 7px;
	text-align: left;
}
.rounded-table th {
	background-color: rgba(165, 165, 165, 0.5);
	font-weight: bold;
}
.rounded-table tr {
	background-color: rgba(165, 165, 165, 0.5);
}
/* END: Tables */


/* START: Comments */

.container_coments {
	background-color: var(--fade8-w-color);
	color: var(--text-b-color);
	width: 80%;
	padding: 2em 3em;
	border-radius: var(--border-radius2);
	margin-top: 1em;
	margin-bottom: 1em;
}

.title_coments {
	font-size: 3em;
	font-weight: bold;
	text-shadow: 2px 2px 8px var(--shadow-title2);
	margin-top: -60px;
}

.comment_item {
    width: calc(100%);
    padding: 20px;
    margin: 0 auto;
}

.comment_item textarea {
    width: calc(90%);
    margin-bottom: 10px;
	margin: 0 auto;
}

.comment_item button {
    width: 20%;
	margin: 0 auto;
}

/* END: Comments */